* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-heading {
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 5rem;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.shopping-logo {
  width: 100%;
}

.shopping-logo img {
  width: 100%;
  opacity: 0.7;
}

.service-logo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.service-logo img {
  width: 15%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: azure;
}

.card {
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem;
}

.card img {
  height: 350px;
}

.card .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

body .spinner-border {
  width: 100px;
  height: 100px;
}

.logo {
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

.modal-box {
  display: none;
}

.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-container input {
  width: 40%;
  margin-top: 1rem;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5rem;
  padding: 0.3rem;
}

.add-button {
  border-radius: 10rem;
}

.heading h1 {
  background: linear-gradient(
    to left,
    rgb(153, 138, 138),
    #333 50%,
    rgb(134, 120, 120) 75%,
    rgb(119, 105, 105) 75%
  );
  color: white;
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 2rem;
  margin-left: auto;
}

.select-id {
  width: 40%;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
}

@media screen and (max-width: 965px) and (min-width: 758px) {
  .cards-container .card {
    width: 45%;
  }

  .logos .discount-logo {
    width: 60%;
  }
}

@media screen and (max-width: 757px) {
  .logos .discount-logo {
    width: 100%;
  }

  .cards-container .card {
    width: 90%;
  }

  #logos-container {
    flex-wrap: wrap;
  }

  #nav-search {
    width: 50%;
  }

  footer .logo {
    width: 100px;
  }

  .logos h1,
  .heading .our-store-heading {
    font-size: 1rem;
  }

  .cards-container .card img {
    height: 300px;
  }
}
